.Notes ul{
list-style-type: none;
margin: 70px;
margin-bottom: 120px;
padding: 60px;

}

.Notes ul li{
    background-color: rgba(238, 255, 0, 0.749);
    padding: 70px;
}

.Notes a {
    color: rgba(0, 0, 0, 0.749);
    text-decoration: none;
    
}

.Notes a:hover{
    color: rgb(0, 89, 255);
    text-decoration: none;

}